.home-blue {
    color: #0057B7;
}

.home-yellow {
    color: #FFDD00;
}

.home-green {
    color: #009A49;
}

.home-orange {
    color: #FF7900;
}

.bg-dark {
    background-color: #445261;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-like {
    color: #e72005;
    border: none;
    background: transparent;
}

.stand-with-ukraine {
    max-height: 40px;
    max-width: 240px;
}