{% extends 'base.html' %}
{% block content %}

<div class="card text-white bg-secondary text-center" style="max-width: 100rem;">
    <div class="card-header">Who are we?</div>
    <div class="card-body">
      <h5>House Ukraine In Ireland is an accommodation assistance platform for Ukrainians Seeking Refugee Status in Ireland</h5>
      <p class="card-text">Our platform was setup in the aftermath of the Russian Invasion of Ukraine. Our purpose is to help Ukrainians arriving in Ireland to find suitable accommodation for there needs. We do this by helping to support individuals helping both Ukrainians to find accommodation and helping Irish Home Owners to find suitable accommodation seekers ensuring that both have there needs met and respected.</p>
    </div>
  </div>
<br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">We Help Ukrainians Seeking Accommodation</div>
            <div class="card-body">
              <p class="card-text">Arriving in a new country can be a daunting experience, especially for those fleeing war-torn countries. That's why we help Ukrainians arriving in Ireland with finding accommodation. By giving them a network to help them find generous Irish Accommodation Providers.</p>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">We Help Accommodation Providers</div>
            <div class="card-body">
              <p class="card-text">We know that providing accommodation can come with it's challenges and that for many providers they want to know who it is they are providing accommodation for that's why we help those providing accommodation with a network to help them meet suitable candiates for there accommodation.</p>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">We Help To Navigate Government Support Schemes</div>
            <div class="card-body">
              <p class="card-text">Navigating the Governments Support Scheme for the Accommodation Recogntion Payment can be a challenging experience for both providers and seekers alike. That's why we aim to provide network with easy access to all Government Support Documentation so that you can ensure you receive the resources you are entitled too.</p>
            </div>
          </div>
      </div>
    </div>
  </div>
 


{% endblock content %}