{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}
<div class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Create a Post:</h3>
        </div>
        <div class="modal-body">
            <p>Posting as: {{ user.username }}</p>
            <form method="post" style="margin-top: 1.3em;">
                {{ post_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
